.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(20, 20, 40, 0.95);
  padding: 10px 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  backdrop-filter: blur(6px); /* Opcional: para un efecto de vidrio */
}

nav {
  display: flex;
  justify-content: center;
  gap: 50px; /* Incrementa el espacio entre los enlaces */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em; /* Aumenta el tamaño de la letra */
  font-weight: bold;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

nav a:hover {
  color: #8e2de2; /* Cambia a un tono morado al pasar el mouse */
  text-decoration: underline; /* Subraya el texto */
}